@model ExceptionViewModel

@{
    ViewBag.Title = "系统异常";
}

<div class="alert alert-danger mt-3">
    <h3>错误信息</h3>
    <hr />
    <p>@Model.Message</p>
</div>

<div class="alert alert-danger mt-3">
    <h3>异常路径</h3>
    <hr />
    <p>@Model.Path</p>
</div>

<div class="alert alert-danger mt-3">
    <h3>StackTrace</h3>
    <hr />
    <p>@Model.StackTrace</p>
</div>

